/* quasi-global styles */

* {
	/*box-sizing: border-box;*/
	font-size: 100%;
	--bg-col: #010012;
	--text-col: #fceae3;
	--border-col: #00adff;
	--light-text-col: #ffb700;
	--alt-text-col: #6fcfff;
	--hover-col: #ff4b00;
	border-radius: 5px;
	text-decoration: none;
}

a {
	color: var(--light-text-col);
}

a:hover {
	color: var(--hover-col);
}

.grid {
	height: 100vh;
	background-color: var(--bg-col);
	color: var(--text-col);
	font-family: 'Mali', cursive;
	display: grid;
	align-content: end;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto 1fr auto;
	grid-auto-rows: auto;
}

.iframe-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.ifrm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.navbar {
	grid-column: 1/-1;
  	grid-row: 1/2;
  	font-size: 3em;
}
main {
	grid-column: 1 	/span 2;
  	grid-row: 2/3;
  	font-size: 2em;
  	text-align: center;
}

.blog {
	overflow: scroll;
}

.blog > * {
	font-size: 1.3em;
	font-weight:normal;
	color: #6fcfff;
}

.blog > p {
	font-size: 1em;
	padding: 1em;
}

.blog-article {
	font-size: 1.3em;
	overflow: scroll;
	text-align: left;
	padding: 1em;
}

.blog-article h1 {
	font-size: 1.5em;
	font-weight:normal;
	color: var(--light-text-col)
}

.blog-article h2 {
	font-size: 1.4em;
	font-weight:normal;
	color: var(--alt-text-col); 
}

.info {
	grid-column: 3/-1;
  	grid-row: 2/3;
  	font-family: 'Mali', cursive;
	font-size: 1.3em;
	padding: 1em;
}

footer {
	grid-column: 1/-1;
  	grid-row: 3/4;
  	font-size: 1.5em;
}

.main-nav {
	float: right;
	list-style-type: none;
}

.main-nav li{
	display: inline;
	font-size: 0.8em;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.main-nav li a {
	display: inline-block;
	color: var(--light-text-col);
	text-decoration: none;	
}

.main-nav li a:hover {
	color: var(--hover-col);
	transform: scale(1.04);
}

img {
	max-width:90%;
	height:auto;
}
/*  misc....                                                          */
.grid > * {
	border: 1px solid var(--border-col);	
}

.site-name {
	float: left;
	font-size: 2em;
}
.site-name:hover {
	color: var(--hover-col);
	transform: scale(1.01);
}

.navbar {
	padding-left: 1em;
	padding-right: 1em;
}

.email {
	color: var(--light-text-col);
}