/* quasi-global styles */

* {
        /*box-sizing: border-box;
        */font-size: 100%;
        --bg-col: #010012;
        --text-col: #fceae3;
        --border-col: #00adff;
        --light-text-col: #ffb700;
        --alt-text-col: #0085f7;
        --hover-col: #ff4b00;
        --code-bg-col: #111;
        --bg-pale-blue: #7bc2f7;
        border-radius: 0.5vw;
        text-decoration: none;
        padding: 1px;
}

body {
    background-color: var(--bg-pale-blue);
}

.grid {
        height: 100vh;
        background-color: var(--bg-col);
        color: var(--text-col);
        font-family: 'Mali', cursive;
        display: -ms-grid;
        display: grid;
        -ms-flex-line-pack: end;
            align-content: end;
        grid-gap: 0.7vw;
}

main {
        text-align: center;
}

.info {
        font-family: 'Mali', cursive;
        font-size: 1vw;
        padding: 1vw;
        position: relative;
}

footer {
        font-size: 1.5vw;
}
/*=========================================
for mobile:                                 */
.grid {
            -ms-grid-columns: 1fr;
                grid-template-columns: 1fr;
            -ms-grid-rows: 50px 1fr 1fr 50px;
                grid-template-rows: 50px 1fr 1fr 50px;
            grid-auto-rows: auto;
    }

    .navbar {
            grid-column: 1/-1;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            grid-row: 1/2;
    }

    main {
            grid-column: 1/-1;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            grid-row: 2/3;
    }

    .info {
            grid-column: 1/-1;
            -ms-grid-row: 3;
            -ms-grid-row-span: 1;
            grid-row: 3/4;
    }

    footer {
            grid-column: 1/-1;
            -ms-grid-row: 4;
            -ms-grid-row-span: 1;
            grid-row: 4/5;
    }

/*=========================================
for desktop:                                 */
@media only screen and (min-width: 992px) {
    .grid {
            -ms-grid-columns: 1fr 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr;
            -ms-grid-rows: auto 1fr auto;
                grid-template-rows: auto 1fr auto;
            grid-auto-rows: auto;
    }

    .navbar {
            grid-column: 1/-1;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            grid-row: 1/2;
    }

    main {
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            grid-column: 1  /span 2;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            grid-row: 2/3;
    }

    .info {
            grid-column: 3/-1;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            grid-row: 2/3;
    }

    footer {
            grid-column: 1/-1;
            -ms-grid-row: 3;
            -ms-grid-row-span: 1;
            grid-row: 3/4;
    }
}


.main-nav {
        float: right;
        list-style-type: none;
        font-size: 1.7vw;
}

.main-nav li{
        display: inline;
        padding-left: 0.6vw;
        padding-right: 0.6vw;
}

.main-nav li a {
        display: inline-block;
        color: var(--light-text-col);
        text-decoration: none;  
}

.main-nav li a:hover {
        color: var(--hover-col);
        -webkit-transform: scale(1.04);
            -ms-transform: scale(1.04);
                transform: scale(1.04);
}

.blog, #main-image {
        font-family: 'Rubik', sans-serif;
        overflow: scroll;
}

.blog > h1 {
        font-size: 1.9vw;
        font-weight:normal;
        color: var(--alt-text-col);
}

.blog-title a {
        font-size: 1.7vw;
        color: var(--light-text-col);
}

.blog > p {
        font-size: 1.2vw;
        padding: 1vw;
}

.blog-article {
        font-family: 'Rubik', sans-serif;
        font-size: 1.2vw;
        overflow: scroll;
        text-align: left;
        padding: 2vw;
}

.blog-article h1 {
        font-size: 1.5vw;
        font-weight:normal;
        color: var(--alt-text-col)
}

.blog-article h2, .info h2 {
        font-size: 1.2vw;
        font-weight:normal;
        color: var(--light-text-col); 
}

img {
        height:auto;
}
/*  misc....                                                          */
.grid > * {
        border: 0.1vmax solid var(--border-col);    
}

.site-name {
        float: left;
        color: var(--alt-text-col);
        font-size: 3.4vw;
        text-shadow: -0.1vw -0.1vw 0.3vw var(--light-text-col);
}
.site-name:hover {
        color: var(--hover-col);
        -webkit-transform: scale(1.01);
            -ms-transform: scale(1.01);
                transform: scale(1.01);
        text-shadow: 0.1vw -0.1vw 0.3vw var(--alt-text-col);
}

.navbar {
        padding-left: 1vw;
        padding-right: 1vw;
}

.email {
        color: var(--light-text-col);
}

a {
        color: var(--light-text-col);
}

a:hover {
        color: var(--hover-col);
}

pre code {
        font-family: 'Source Code Pro', monospace;
        color: var(--alt-text-col); 
        display: block;
        padding: 1vmax;
        font-size: 1vw;
}
p code {
        font-family: 'Source Code Pro', monospace;
        color: var(--alt-text-col); 
}

code.code-boxed {
        border: 0.1vmax solid var(--light-text-col);        
}

code.code-unboxed {
        padding: 0;
        font-size: 1vw;
}

code:hover {
    -webkit-filter: invert(100%);
            filter: invert(100%);        
}

.blog p {
    font-size: 1vw;
}

.blog-article, .shader, .info {
        overflow: scroll;
}

.info {
    padding-left: 2vw;
}

.intro {
        font-size: 1.2vw;
        color: var(--alt-text-col);
}
.note {
        color: var(--light-text-col);
}

#side-image #main-image {
        border: 0.1vmax solid white;
        -o-object-fit: cover;
           object-fit: cover;
        height: 100%;
        max-width: 100%;
}

#sug {
    text-decoration: underline;
}

#side-image {
    max-height: 90%;
    max-width: 90%;
    position: absolute;
}

.iframe-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.ifrm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.ifrm-left {
    float: left;
    margin: 1vw;
}

.ifrm-right {
    float: right;
    margin: 1vw;
}

.blog-narrow {
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: left;
}

.book-title {
    font-size: 1vw;
    color: var(--alt-text-col);
}

/*
Font Awsome styling for social icons:
*/
/* social media links in footer */
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa, .icon {
    padding: 2px 2px;
    background-color: var(--bg-col);
}
.fa-twitter:hover {
    background-color: #00B6F1;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.fa-github:hover {
    color: #9840d9;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.fa-linkedin:hover {
    background-color: #04669A;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}
.icon-st:hover {
    background-color: #f321b7;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;    
}